<%= render 'layouts/form' %>
<div class="play-dash">
  <h1>Edit Play</h1>

  <p class="view-tag">Call an audible.</p>
  <%= render 'form' %>

  <%= link_to 'Back', goal_play_path(@goal, @play), :class => "back-link" %> <span class="back-link">|</span>
  <%= link_to 'Playbook', goal_plays_path(@goal), :class => "back-link" %>
</div>
