<%= render 'layouts/form' %>
<div class="play-dash">
  <h1>Create a Play</h1>

  <p class="view-tag">What can you do next?</p>
  <%= render 'form' %>

  <%= link_to 'Back', goal_plays_path(@goal), :class => "back-link" %>
</div>
