// Place all the styles related to the goals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/** {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}*/

html, body {
  height: 100%;
}

.page-container {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background-image: url('signin_field.jpg');
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
}

.page-container img {
  display: block;
  margin: 0 auto;
  margin-top: 80px;
}

.page-container h3 {
  display: block;
  text-align: center;
  margin-top: -5px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 1.5em;
}

.vert-form {
  display: block;
  position: relative;
  margin: 0 auto;
  top: 20px;
  vertical-align: middle;
  text-align: center;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  padding-top: 10px;
  background-color: #fff;
  width: 370px;
  height: 330px;
  border-radius: 10px;
  opacity: .9;
  color: #222;
  border: #eee solid 1px;
}

.vert-form h2 {
  opacity: 1;
  font-size: 2.6em;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 500;
  padding-bottom: 10px;
}

.navbar {
  border-radius: 0px;
}

.navbar-inverse .navbar-brand {
color: #fff;

}

.navbar-inverse .navbar-brand:hover {
color: #999999;
}

.navbar-inverse .navbar-text {
color: #fff;
}

.navbar-inverse .navbar-link {
color: #fff;
}

.navbar-inverse .navbar-link:hover {
color: #999999;
}

.navbar-text {
  font-family: "open sans", "Helvetica", "Arial","sans-serif";
  padding-top: 11px;
  font-size: 15px;
}

.navbar-btn {
  margin-top: 18px;
  margin-right: 25px;
}


