// Place all the styles related to the goals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/** {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}*/

html, body {
  height: 100%;
}

body {
  /*position: relative;
  top: -75px;*/
  min-height: 100%;
  display: table;
  height: 100%;
  width: 100%;
  background-image: url('field2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/**************************/
/******** SIGN IN *********/
/**************************/

.page-container {
  min-height: 100%;
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background-image: url('signin_field.jpg');
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
}

.page-container img {
  display: block;
  margin: 0 auto;
  margin-top: 80px;
}

.page-container h3 {
  display: block;
  text-align: center;
  margin-top: -5px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 1.5em;
}

.vert-form {
  display: block;
  position: relative;
  margin: 0 auto;
  top: 20px;
  vertical-align: middle;
  text-align: center;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  padding-top: 10px;
  background-color: #fff;
  width: 370px;
  height: 370px;
  border-radius: 10px;
  opacity: .97;
  color: #222;
  border: #eee solid 1px;
}

.vert-form a {
  text-decoration: none;
}

.vert-form h2 {
  opacity: 1;
  font-size: 2.6em;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 500;
  padding-bottom: 10px;
}

.label {
  display: none;
}

.remember_me {
  text-decoration: none;
  margin-top: 10px;
  font-style: normal;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  padding-bottom: 7px;
}

.form_field {
  border-radius: 15px;
  color: rgba(255, 255, 255, 0.4);
  outline: none;
  width: 80%;
  padding: 10px;
  margin: 0 auto;
  color: #fff;
  font-size: 18px;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.9);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.9);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.9);
}

.form_field:hover {
  background: rgba(0, 0, 0, 0.6);
}

.form_field:focus {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 1), 0 0 0 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 4px rgba(0, 0, 0, 1), 0 0 0 3px rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset 0 0 4px rgba(0, 0, 0, 1), 0 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 1), 0 0 0 3px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.6);
}

.session_links {
  position: relative;
  top: 8px;
  color: #444;
  font-size: 1.1em;
}

.session_links:hover {
  color: #111;
}

.linkspan {
  position: relative;
  top: 8px;
  margin-right: 3px;
  font-style: italic;
}


/**************************/
/******** SIGN UP *********/
/**************************/

.signin-link {
  color: #444;
  font-size: 1.2em;
}

.signin-link:hover {
  color: #111;
}

.form-links span {
  padding-left: 19px;
  padding-right: 4px;
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  font-style: italic;
}


/**************************/
/********* NAVBAR *********/
/**************************/

.navbar {
  border-radius: 0px;
  color: #eee;

}

.navbar-inverse {
  box-shadow: 5px #222;
  background-color: #111;
}


.navbar-inverse .navbar-brand {
color: #fff;
margin-left: 30px;
}

.navbar-inverse .navbar-brand:hover {
color: #999999;
}

.navbar-inverse .navbar-text {
color: #fff;
}

.navbar-inverse .navbar-link {
color: #eee;
}

.navbar-link-space {
padding-left: 10px;
}

.navbar-inverse .navbar-link:hover {
color: #ddd;
text-decoration: none;
}

.navbar-text {
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  padding-top: 11px;
  font-size: 14px;
}

.navbar-btn {
  margin-top: 18px;
  margin-right: 30px;
}


.signout a {
  color: #eee;
}

.signout a:hover {
  text-decoration: none;
}

.navbar a {
  color: #eee;
}

.navbar a:hover {
  text-decoration: none;
  color: #ddd;
}

.so-button {
  font-family: "open sans", "Helvetica", "Arial","sans-serif";
}


/**************************/
/******* DASHBOARD ********/
/**************************/

.dashboard {
  display: block;
  position: relative;
  margin: 0 auto;
  top: 20px;
  vertical-align: middle;
  text-align: center;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  padding-top: 10px;
  background-color: #fff;
  width: 370px;
  height: 370px;
  border-radius: 10px;
  opacity: .97;
  color: #222;
  border: #eee solid 1px;
}

.dashboard h1 {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.dashboard table th {
  display: none;
}

.dashboard table {
  text-align: center;
  margin: 0 auto;
  color: #222;
}

.dashboard table a {
  display: block;
  color: #222;
  font-size: 1.2em;
  padding-top: 5px;
}

.dashboard table a:hover {
  /*text-decoration: none;*/
}

.new-link {
  color: #444;
}

.goals-table a {
  text-align: center;
  margin: 0 auto;
}



